{% extends 'base.html.twig' %}

{% block main %}

<div class="spaceLeft">
    <h1 class="title center spacingTop">Paiement</h1>

    <h2 class="title">Total de la réservation : </h2>

    <p>Pour valider votre réservation un accompte de 30% est requis</p>

    <h2 class="title">Total à payer : </h2>

    <h2 class="title">Options de paiement :</h2>

    <p>Veuillez sélectionner votre méthode de paiement :</p>

    <div class="paymentFlex">
        <input type="checkbox" id="carte-bancaire">
        <label for="carte-bancaire">Carte bancaire</label>
    </div>

    <div class="paymentFlex">
        <input type="checkbox" id="paypal">
        <label for="paypal">Paypal</label>
    </div>

    <div class="paymentFlex">
        <input type="checkbox" id="apple-pay">
        <label for="apple-pay">Apple Pay</label>
    </div>

    <div class="paymentFlex">
        <input type="checkbox" id="google-pay">
        <label for="google-pay">Google Pay</label>
    </div>

    {{ form_start(form) }}

    <div class="spaced spacedTop">
        {{ form_label(form.cardNumber) }}
    </div>
    <div class="inputSpaced">
        {{ form_widget(form.cardNumber) }}
    </div>

    <div class="spaced">
        {{ form_label(form.cardHolderName) }}
    </div>
    <div class="inputSpaced">
        {{ form_widget(form.cardHolderName) }}
    </div>

    <div class="spaced">
        {{ form_label(form.expiryDate) }}
    </div>
    <div class="inputSpaced">
        {{ form_widget(form.expiryDate) }}
    </div>

    <div class="spaced">
        {{ form_label(form.cvv) }}
    </div>
    <div class="inputSpaced">
        {{ form_widget(form.cvv) }}
    </div>

    <div class="spaced">
        {{ form_label(form.amount) }}
    </div>
    <div class="inputSpaced">
        {{ form_widget(form.amount) }}
    </div>

    <div class="spaced">
        {{ form_label(form.submit) }}
    </div>
    <div class="inputSpaced">
        {{ form_widget(form.submit) }}
    </div>
<div class="spacedBottom"></div>

    {{ form_end(form) }}
</div>

{% endblock %}
