{% extends 'base.html.twig' %}

{% block title %}Choisissez vos ingrédients{% endblock %}

{% block main %}
<h1>Choisissez vos ingrédients</h1>
<form action="{{ path('app_recipes') }}" method="post">
<div class="cards-container">
    {% for ingredient in ingredients %}
        <div class = 'card'>
            <label for="">{{ ingredient.name }}</label>
            <img src="{{ asset('assets/upload_directory/' ~ ingredient.image) }}" alt="{{ ingredient.name }}">
            <h2>{{ ingredient.price }}{{'EUR'|currency_symbol}}</h2>
            <input type="checkbox" name="ingredients[]" value="{{ ingredient.id }}">
        </div>
    {% endfor %}
</div>
    <input type="submit">
</form>
{% endblock %}
